body {
	background-image: url("../images/darkness.png");
}

h1 {
	text-align: center;
	font-family: 'Sedgwick Ave Display', cursive;
}

.container {
	margin-top: 10px;
}

.carousel {
	height: 350px;
}

.flex-box {
	display: flex;
	flex-direction: row;
}

.drop-item {
	cursor: pointer; 
  cursor: hand;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
margin: auto;
height: 300px;
}

.jumbotron {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.carousel-indicators {
  bottom: -5px;
}

.carousel-inner {
   margin-bottom:50px;
}

.caption {
	position: absolute;
	bottom: 15px;
	width: 100%;
	color: white;
	text-align: center;
}

#num_gifs {
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.dropdown-menu {
	max-height: 170px;
	overflow-y: scroll;
}

/*Slider*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #428bca;
  border-radius: 1.3px;
  border: 0.2px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1.5px solid #000000;
  height: 25px;
  width: 12px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6aa3d5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #428bca;
  border-radius: 1.3px;
  border: 0.2px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1.5px solid #000000;
  height: 25px;
  width: 12px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071a9;
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #428bca;
  border: 0.2px solid #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
  border: 1.5px solid #000000;
  height: 25px;
  width: 12px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  height: 7.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #428bca;
}
input[type=range]:focus::-ms-fill-upper {
  background: #6aa3d5;
}

.slider {
	margin-top: 20px !important;
}
